#title {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#searchBox {
    background-color: rgba(0, 0, 0, 0.3);
}

body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Itim';
    font-weight: bold;
}

#gifs h4, h5 {
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
}

input {
    color: black;
}

.search {
    font-size: 11.7pt;
}

@media only screen and (max-width: 500px) {
    body {
        background-image: url("../images/mobile_background.jpeg");
    }
}